*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
	color: #000000;
	background: #ffffff;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

a , a:hover{
	color: #000000;
	transition: .4s ease;
	cursor: pointer;
    text-decoration: none;
}
input , select{
	outline: none!important;
	box-shadow: 1px 1px 5px rgba(94, 98, 94, 0.40)!important;
}
button{
	outline: none!important;
}

h1{
	font-size: 60px;
	font-family: 'Roboto Slab', serif;
}
h2{
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
}
h3{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}
h4{
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
}
h5{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}
h6{
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
}
p{
	line-height: 21px;
	font-size: 16px;
}
ul li{
	list-style: none;
}
ul , p , h1, h2, h3, h4, h5, h6{
	margin-bottom: 0px;
}
img{
	max-width: 100%;
}
@media (min-width: 1540px){
	.container {
		max-width: 1640px;
	}
}
.text-main{
	color: #30b179;
}










.wrapper {
    position: relative;
    width: 100%;
}
.header {
    padding: 30px 0;
    background: #ffffff;
    position: relative;
}
.header .navbar {
    padding: 0;
}
.header .navbar .navbar-nav li {
    margin-left: 30px;
}
.header .navbar .navbar-nav li a {
	padding: 0px;
	color: #000000;
}
.banner {
    position: relative;
    padding: 130px 0;
}
.banner .item .row {
    align-items: center;
}
.banner .banner-left h1 {
    font-weight: 100;
	margin-bottom: 20px;
}
.banner .banner-left h1 .d-block {
    font-weight: 300;
}
.banner .banner-left p{
	color: #8c94a5;
	margin-bottom: 20px;
}
.banner-btn {
    display: flex;
    align-items: center;
}
.banner-btn a {
    position: relative;
    padding: 20px;
    background: #30b179;
    color: #ffffff;
    font-size: 15px;
    width: 230px;
}
.banner-btn a i {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: #2b9f6d;
    font-size: 17px;
}
.hero-tabs {
    position: relative;
    padding: 140px 0;
    background: #f5fbf8;
}
.hero-tabs-in  .nav.flex-column.nav-pills {
    padding-right: 20px;
}
.hero-tabs .hero-tabs-in .nav a {
    position: relative;
    background: transparent!important;
    margin-bottom: 30px;
    color: #91d6b8!important;
    padding-left: 10px;
    border-left: 1px solid transparent!important;
    border-radius: 0;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.hero-tabs .hero-tabs-in .nav a.active {
    color: #30b179!important;
    border-left: 2px solid #30b179!important;
}
.hero-tabs .hero-tabs-in .nav a:hover{
	color: #30b179!important;
}
.hero-tabs .hero-tabs-in .tab-content {
    padding-left: 40px;
    height: 100%;
    border-left: 2px solid #30b179;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-head {
    margin-bottom: 50px;
    max-width: 65%;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-head h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
	font-weight: 300;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-head h2 img {
    margin-right: 30px;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-head p{
	color: #8c94a5;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.03px;
    line-height: 25px;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-element li {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-element li .green-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 65px;
    background: #2da571;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-element li .green-box {
    position: relative;
    background: #30b179;
    width: 180px;
    height: 100px;
    margin-right: 30px;
    display: block;
    flex: 0 0 180px;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-element li .element-content h4 {
    color: #000000;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.05px;
    margin-bottom: 10px;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .tabs-element li .element-content p{
	color: #8c94a5;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 65%;
}
.tab-pane.active.show {
    transform: translate(0px, 0px);
}
.tab-pane {
    transition: .5s ease;
    transform: translate(0px, 30px);
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .label-block {
    margin-bottom: 30px;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .label-block .label {
    margin-bottom: 40px;
    color: #30b179;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.03px;
    line-height: 25px;
}
.hero-tabs .hero-tabs-in .tab-content .tabs-content-block .label-block  .label-img {
    width: 100px;
    height: 100px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-block {
    padding: 50px;
    background: #30b179;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.download-block .content-block {
    max-width: 65%;
}
.download-block .content-block h4 {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.05px;
    line-height: 36px;
    margin-bottom: 20px;
}
.download-block .content-block p {
    opacity: 0.8;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    max-width: 60%;
}
.download-block .banner-btn a {
    position: relative;
    padding: 20px;
    background: #1d343c;
    color: #ffffff;
    font-size: 15px;
    width: 230px;
}
.download-block .banner-btn a i {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: #1a2f36;
    font-size: 17px;
}
.footer {
    position: relative;
    background: #1d343c;
    padding: 80px 0;
}
.footer .get-started-block {
    padding-bottom: 80px;
    border-bottom: 2px solid #3f5259;
    margin-bottom: 80px;
}
.footer .get-started-block .row {
    align-items: center;
}
.footer .get-started-block .started-left h2 {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.1px;
    margin-bottom: 30px;
}
.footer .get-started-block .started-left p {
    opacity: 0.7;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.03px;
    line-height: 26px;
    max-width: 65%;
}
.footer .get-started-block .started-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer .get-started-block .started-right a {
    margin-left: 50px;
    padding: 22px;
    color: #ffffff;
    width: 213px;
    text-align: center;
}
.btn-main {
    background: #30b179;
	border: 1px solid transparent;
}
.btn-main:hover{
	background: transparent;
	color: #30b179;
	border: 1px solid #30b179;
}
.border-btn {
    border: 1px solid #d7dc61;
    background: transparent;
    color: #d7dc61!important;
}

.border-btn:hover {
    border: 1px solid #d7dc61;
    background: #d7dc61;
    color: #ffffff!important;
}

.footer-menu {
    position: relative;
}
.footer-menu .row {
    margin-bottom: 40px;
}
.footer-menu .footer-menuin img, .footer-menu .footer-menuin p {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.63px;
    line-height: 25px;
    text-transform: uppercase;
}
.footer-menu .footer-menuin li a {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    display: block;
}
.footer-menu .footer-menuin li {
    margin-bottom: 0px;
}
.footer-menu .footer-menuin li a {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    display: block;
}
.copyright-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright-sec li, .copyright-sec li a {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2.63px;
    line-height: 25px;
    text-transform: uppercase;
}
.copyright-sec li a:hover{
	opacity: 1;
}
.overview {
    position: relative;
    padding: 100px 0;
    background: #e9f8f2;
}
.overview .overview-title {
    position: relative;
    text-align: left;
	margin-bottom: 50px;
}
.overview .overview-title h2 {
    color: #000000;
    font-family: "Roboto Slab";
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.1px;
	margin-bottom: 20px;
}
.overview .overview-title p {
    color: #8c94a5;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.03px;
    line-height: 25px;
}

.overview .overview-element {
    width: 100%;
    height: 286px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    transition: .3s ease;
}
.overview .overview-element:hover {
    background: #1d343c;
    transform: translate(0px, -10px);
}
.overview-icon {
    margin-bottom: 20px;
}
.overview .overview-element h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.04px;
    line-height: 28px;
}
.overview .overview-element:hover h4{
	color: #ffffff;
}
.bg-none{
	background: transparent!important;
}

.Fundraising-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #d8dde2;
	cursor: pointer;
	transition: .3s ease;
	margin-bottom: 30px;
}
.Fundraising-element .Fundraising-icon {
    padding: 15px;
    background: rgba(48, 177, 121, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
	width: 80px;
    height: 80px;
	transition: .3s ease;
}
.Fundraising-element:hover .Fundraising-icon{
/* 	background-image: url(../images/bg-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
	background: rgba(48, 177, 121, 0.74);
}
.Fundraising-element:hover {
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}
.label-text {
    display: flex;
    margin-top: 30px;
}
.label-text a {
    color: #30b179!important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.03px;
	display: block;
}
.label-text a i {
    margin-left: 20px;
    transition: .3s ease;
}
.label-text a:hover i{
	transform: translate(10px, 0px);
}













